In [228]:
import pandas as pd

In [229]:
cookies = pd.read_csv("distinct_cookies_update.csv")

In [230]:
cookies

,exp_type,exp_group,exp_index,visit_id,origin_site,host,name,value,is_third_party
0,nyt,c,1,1,webmd,webmd,__cfduid,dd673b2700baa134208e3794c02eec1f41606506583,False
1,nyt,c,1,1,webmd,webmd,lrt_wrk,lrt1_cached_k8_worker_1_37S_21O_2020-11-18_17:...,False
2,nyt,c,1,1,webmd,webmd,gtinfo,"{""ct"":""Columbus"",""c"":""Franklin"",""cc"":""39049"",""...",False
3,nyt,c,1,1,webmd,webmd,VisitorId,9831e05f-086b-4123-5987-f9b5df875967,False
4,nyt,c,1,1,webmd,webmd,__cfduid,dc560e081e9789ea111079dc63ad819771606506583,False
...,...,...,...,...,...,...,...,...,...
27114,washington,t,6,3,washingtonpost,washingtonpost,cto_pub_test_tld,test,False
27115,washington,t,6,3,washingtonpost,pubmatic,SPugT,1607812116,True
27116,washington,t,6,3,washingtonpost,washingtonpost,cto_bundle,vg6d5l9TUW9uR0hzNDlNNWcxU2klMkJGYktxdVRIQkhIb3...,False
27117,washington,t,6,3,washingtonpost,dnacdn,browser_data,zZo57F9TUW9uR0hzNDlNNWcxU2klMkJGYktxdWV1QUthV2...,True
27118,washington,t,6,3,washingtonpost,pubmatic,PMFREQ_ON,YES,True

In [312]:
cookies_groupby = cookies.groupby(['exp_type','exp_group', 'host']).size().reset_index(name='count')
cookies_groupby

       exp_type exp_group            host  count
0        forbes         c             1rx     24
1        forbes         c           3lift     14
2        forbes         c          aaxads      6
3        forbes         c  acuityplatform     23
4        forbes         c         addthis     29
..          ...       ...             ...    ...
725  washington         t         yieldmo     36
726  washington         t         youtube     12
727  washington         t         zemanta     12
728  washington         t         zendesk      1
729  washington         t          zeotap      3

[730 rows x 4 columns]

In [314]:
cookies_tp_groupby = cookies[cookies.is_third_party].groupby(['exp_type','exp_group', 'host']).size().reset_index(name='count')
cookies_tp_groupby

       exp_type exp_group            host  count
0        forbes         c             1rx     24
1        forbes         c           3lift     14
2        forbes         c          aaxads      6
3        forbes         c  acuityplatform     23
4        forbes         c         addthis     29
..          ...       ...             ...    ...
707  washington         t         yieldmo     36
708  washington         t         youtube     12
709  washington         t         zemanta     12
710  washington         t         zendesk      1
711  washington         t          zeotap      3

[712 rows x 4 columns]

In [323]:
a = cookies_tp_groupby[(cookies_tp_groupby.exp_group == "c") & (cookies_tp_groupby.exp_type == "nyt") ].sort_values('count',ascending = False)
a

    exp_type exp_group            host  count
326      nyt         c        pubmatic    213
333      nyt         c  rubiconproject    179
349      nyt         c           yahoo    129
263      nyt         c          adsrvr    115
278      nyt         c     casalemedia    111
..       ...       ...             ...    ...
337      nyt         c          smadex      1
294      nyt         c       eyereturn      1
284      nyt         c         digitru      1
293      nyt         c          extend      1
340      nyt         c         taboola      1

[100 rows x 4 columns]

In [322]:
b = cookies_tp_groupby[(cookies_tp_groupby.exp_group == "t") & (cookies_tp_groupby.exp_type == "nyt") ].sort_values('count',ascending = False)

In [337]:
c = pd.merge(a, b, on='host')[['host', 'exp_group_x','count_x','exp_group_y', 'count_y']]
c['diff'] = c.count_y - c.count_x
c[[]]

              host exp_group_x  count_x exp_group_y  count_y  diff
0         pubmatic           c      213           t      388   175
1   rubiconproject           c      179           t      422   243
2            yahoo           c      129           t      127    -2
3           adsrvr           c      115           t      133    18
4      casalemedia           c      111           t      334   223
..             ...         ...      ...         ...      ...   ...
90          emerse           c        1           t        1     0
91          smadex           c        1           t        3     2
92       eyereturn           c        1           t        5     4
93          extend           c        1           t        3     2
94         taboola           c        1           t        2     1

[95 rows x 6 columns]

In [299]:
# fig, axes = plt.subplots(nrows=1, ncols=2, figsize=(12,4),gridspec_kw={'hspace': 1.0}, sharey = True)

# cookies_1 = cookies.groupby(['exp_group', 'host']).size().reset_index(name='count')

# haha = (cookies_1[(cookies_1.exp_group == "c") ],
#         cookies_1[(cookies_1.exp_group == "t") ])

# for i,x in enumerate(haha):
#     x.sort_values('count',ascending = False).head(15)\
#         .plot( x='host', y='count', legend=None, ax=axes[i], kind="bar", color='#86bf91')
    
#     for tick in range(0,3000,500):
#         axes[i].axhline(y=tick, linestyle='dashed', alpha=0.4, color='#eeeeee', zorder=0)
    
#     axes[i].tick_params(bottom=False, top=False, left=False, right=False, labelbottom="on", labelleft="on")
#     axes[i].spines['right'].set_visible(False)
#     axes[i].spines['top'].set_visible(False)
#     axes[i].spines['left'].set_visible(False)

#     if i == 0:
#         axes[i].set_ylabel("Number of distinct cookies", labelpad=50, weight='bold', size=12)
#         axes[i].set_title("Control")
#         axes[i].set_xlabel("\t\t\t\t\t\t\t\t\t\t\t Hosts".expandtabs(), labelpad=20, weight='bold', size=12)

#     if i == 1:
#         axes[i].xaxis.label.set_visible(False)
#         axes[i].set_title("Treatment")

# plt.savefig('distinct.png',bbox_inches='tight', dpi=300)

In [347]:
cookies_groupby_2 = cookies[cookies.is_third_party].groupby(['exp_group', 'host', ]).size().reset_index(name='count')
a = cookies_groupby_2[(cookies_groupby_2.exp_group == "c")].sort_values('count',ascending = False)
b = cookies_groupby_2[(cookies_groupby_2.exp_group == "t")].sort_values('count',ascending = False)
c = pd.merge(a, b, on='host')[['host', 'exp_group_x','count_x','exp_group_y', 'count_y']]
c['diff'] = c.count_y - c.count_x
c.sort_values('diff',ascending = False).head(20)

              host exp_group_x  count_x exp_group_y  count_y  diff
1   rubiconproject           c      570           t     1275   705
4      casalemedia           c      348           t      928   580
0         pubmatic           c      845           t     1308   463
5           adsrvr           c      320           t      408    88
36           3lift           c       49           t      129    80
20        mfadsrvr           c       96           t      165    69
57            w55c           c       30           t       98    68
19          rfihub           c      100           t      167    67
3            media           c      348           t      415    67
60      quantserve           c       28           t       93    65
27       sitescout           c       78           t      140    62
2            yahoo           c      356           t      413    57
46  acuityplatform           c       38           t       90    52
62         owneriq           c       26           t       78    52
43    tribalfusion           c       40           t       90    50
29          dotomi           c       70           t      118    48
10      contextweb           c      133           t      178    45
26            bidr           c       79           t      124    45
52          simpli           c       34           t       78    44
35        exelator           c       50           t       94    44

In [300]:
# fig, axes = plt.subplots(nrows=1, ncols=2, figsize=(12,4),gridspec_kw={'hspace': 1.0}, sharey = True)

# cookies_1 = cookies[cookies.is_third_party].groupby(['exp_group', 'host']).size().reset_index(name='count')
# # cookies_1 = cookies.groupby(['exp_group', 'host']).size().reset_index(name='count')

# haha = (cookies_1[(cookies_1.exp_group == "c") ],
#         cookies_1[(cookies_1.exp_group == "t") ])

# for i,x in enumerate(haha):
#     x.sort_values('count',ascending = False).head(15)\
#         .plot( x='host', y='count', legend=None, ax=axes[i], kind="bar", color='#86bf91')
    
#     for tick in range(0,1600,200):
#         axes[i].axhline(y=tick, linestyle='dashed', alpha=0.4, color='#eeeeee', zorder=0)
    
#     axes[i].tick_params(bottom=False, top=False, left=False, right=False, labelbottom="on", labelleft="on")
#     axes[i].spines['right'].set_visible(False)
#     axes[i].spines['top'].set_visible(False)
#     axes[i].spines['left'].set_visible(False)

#     if i == 0:
#         axes[i].set_ylabel("Number of distinct cookies", labelpad=50, weight='bold', size=12)
#         axes[i].set_title("Control")
#         axes[i].set_xlabel("\t\t\t\t\t\t\t\t\t\t\t Hosts".expandtabs(), labelpad=20, weight='bold', size=12)
        
#     if i == 1:
#         axes[i].xaxis.label.set_visible(False)
#         axes[i].set_title("Treatment")
    
# plt.savefig('distinct-tp.png',bbox_inches='tight', dpi=300)

In [233]:
# cookies_count[(cookies_count.exp_group == "c") & (cookies_count.exp_type == "nyt")]\
#     .sort_values('count',ascending = False)\
#     .head(10).plot.bar( x='host', y='count', legend=None)