In [148]:
import numpy as np
import pandas as pd
import sqlite3
import sys
import os
import re
from urllib.parse import urlparse

In [149]:
def get_content_type_from_headers(x):
    ls = x.replace('"','').split('],[')
    for l in ls:
        ta = l.replace(']]','').split(',')
        if "content-type" in ta:
            return ta[-1]
    return ''
def get_content_length_from_headers(x):
    ls = x.replace('"','').split('],[')
    for l in ls:
        ta = l.replace(']]','').split(',')
        if "content-length" in ta:
            return int(ta[-1])
    return 0
def extract_host_from_url(url_ls):
    return list(map(lambda x: urlparse(x).netloc.split('.')[1] if len(urlparse(x).netloc.split('.')) > 1 else urlparse(x).netloc, url_ls))
def is_third_party(origin, url_host):
    if origin in url_host:
        return False
    return True
def extract_deep_clean_host(url):
    s = url.strip(".au").strip('.uk')
    return s.split('.')[-2] if len(s.split('.')) > 1 else s
def save_df_to_csv(df, file_name):
    df.to_csv(file_name+'.csv', index=False)

In [150]:
data_path = "exp-data/"
type_name = 'forbes'
exp_type= 'c'
file_name = type_name + exp_type
sql_file = data_path + file_name + '.sqlite'

In [151]:
query = """SELECT sv.site_url, sv.visit_id,
        hr.url, hr.headers
        FROM http_responses as hr LEFT JOIN site_visits as sv
        ON sv.visit_id = hr.visit_id
        """

In [152]:
def extract_tracker_table(type_name, exp_type, num):
    sql_file = data_path + type_name + "-" + exp_type + str(num) + '.sqlite'
    print(sql_file)
    conn = sqlite3.connect(sql_file)
    http_responses = pd.read_sql_query(query, conn)

    http_responses['origin_site'] = extract_host_from_url(http_responses.site_url)
    http_responses["url_host"] = list(map(lambda x:urlparse(x).netloc, http_responses.url))
    http_responses["content_type"] = list(map(lambda x:get_content_type_from_headers(x), http_responses.headers))
    http_responses["content_length"] = list(map(lambda x:get_content_length_from_headers(x), http_responses.headers))
    http_responses["url_host_name"] = list(map(lambda x:extract_deep_clean_host(x), http_responses.url_host))

    http_responses['is_third_party'] = list(map(lambda a, b: is_third_party(a, b), http_responses.origin_site, http_responses.url_host))

    http_responses_images = http_responses[http_responses.content_type.str.contains('image')]
    http_responses_images_trackers = http_responses_images[http_responses_images.content_length < 100000]

    http_responses_images_trackers = http_responses_images_trackers[['origin_site', 'url_host', 'url_host_name','content_type', 'content_length', 'is_third_party']]

    df = http_responses_images_trackers.groupby(['origin_site', 'url_host_name']).size().reset_index(name='count')
    df['exp_type'] = [type_name] * df.shape[0]
    df['exp_num'] = [exp_type+str(num)] * df.shape[0]
    return df

In [153]:
types = ['nyt', 'forbes', 'washington']
exps = ['t', 'c']
df_ls = []
for i in range(1, 7):
    for t in types:
        for e in exps:
            df = extract_tracker_table(t, e, i)
            df_ls.append(df)

exp-data/nyt-t1.sqlite
exp-data/nyt-c1.sqlite
exp-data/forbes-t1.sqlite
exp-data/forbes-c1.sqlite
exp-data/washington-t1.sqlite
exp-data/washington-c1.sqlite
exp-data/nyt-t2.sqlite
exp-data/nyt-c2.sqlite
exp-data/forbes-t2.sqlite
exp-data/forbes-c2.sqlite
exp-data/washington-t2.sqlite
exp-data/washington-c2.sqlite
exp-data/nyt-t3.sqlite
exp-data/nyt-c3.sqlite
exp-data/forbes-t3.sqlite
exp-data/forbes-c3.sqlite
exp-data/washington-t3.sqlite
exp-data/washington-c3.sqlite
exp-data/nyt-t4.sqlite
exp-data/nyt-c4.sqlite
exp-data/forbes-t4.sqlite
exp-data/forbes-c4.sqlite
exp-data/washington-t4.sqlite
exp-data/washington-c4.sqlite
exp-data/nyt-t5.sqlite
exp-data/nyt-c5.sqlite
exp-data/forbes-t5.sqlite
exp-data/forbes-c5.sqlite
exp-data/washington-t5.sqlite
exp-data/washington-c5.sqlite
exp-data/nyt-t6.sqlite
exp-data/nyt-c6.sqlite
exp-data/forbes-t6.sqlite
exp-data/forbes-c6.sqlite
exp-data/washington-t6.sqlite
exp-data/washington-c6.sqlite

In [154]:
result = pd.concat(df_ls)

In [156]:
result['exp_group'] = list(map(lambda x: x[0], result.exp_num))
result['exp_index'] = list(map(lambda x: x[1], result.exp_num))

In [157]:
save_df_to_csv(result, 'image_trakers_count-6')

In [103]:
trackers_t = result[result.exp_num.str.contains('t')].groupby(['exp_type', 'origin_site', 'url_host_name'])['count'].sum().reset_index(name='sum')

In [104]:
trackers_c = result[result.exp_num.str.contains('c')].groupby(['exp_type', 'origin_site', 'url_host_name'])['count'].sum().reset_index(name='sum')

In [114]:
combined_trackers = pd.merge(trackers_c, trackers_t, on=['exp_type','origin_site', 'url_host_name'], how='outer', suffixes=('_control', '_treatment'))

# trackers_t.join(trackers_c, on=['exp_type','origin_site', 'url_host_name'],  how='outer')

In [124]:
combined_trackers = combined_trackers.fillna(0)

In [126]:
combined_trackers[combined_trackers.sum_control < combined_trackers.sum_treatment].shape

(166, 5)

In [127]:
combined_trackers[combined_trackers.sum_control > combined_trackers.sum_treatment].shape

(84, 5)

In [128]:
combined_trackers[combined_trackers.sum_control == combined_trackers.sum_treatment].shape

(31, 5)

In [129]:
save_df_to_csv(combined_trackers, 'image_trakers_combined')

In [138]:
combined_trackers.groupby(['exp_type', 'origin_site'])[['sum_control', 'sum_treatment']].sum().stack().reset_index()

      exp_type     origin_site        level_2       0
0       forbes          forbes    sum_control   438.0
1       forbes          forbes  sum_treatment   454.0
2       forbes      mayoclinic    sum_control   661.0
3       forbes      mayoclinic  sum_treatment  1099.0
4       forbes           webmd    sum_control  2035.0
5       forbes           webmd  sum_treatment  1793.0
6          nyt      mayoclinic    sum_control   640.0
7          nyt      mayoclinic  sum_treatment  1233.0
8          nyt         nytimes    sum_control   495.0
9          nyt         nytimes  sum_treatment   537.0
10         nyt           webmd    sum_control  2191.0
11         nyt           webmd  sum_treatment  1648.0
12  washington      mayoclinic    sum_control   586.0
13  washington      mayoclinic  sum_treatment  1093.0
14  washington  washingtonpost    sum_control   341.0
15  washington  washingtonpost  sum_treatment   343.0
16  washington           webmd    sum_control  1835.0
17  washington           webmd  sum_treatment  1682.0

In [158]:
for_model = result.groupby(['exp_index', 'exp_group', 'exp_type', 'origin_site'])['count'].sum().reset_index(name='sum')

In [160]:
save_df_to_csv(for_model, "pixel_tracker_for_model-6")

In [159]:
for_model

    exp_index exp_group    exp_type     origin_site  sum
0           1         c      forbes          forbes   96
1           1         c      forbes      mayoclinic  165
2           1         c      forbes           webmd  418
3           1         c         nyt      mayoclinic  120
4           1         c         nyt         nytimes   90
5           1         c         nyt           webmd  419
6           1         c  washington      mayoclinic   96
7           1         c  washington  washingtonpost  100
8           1         c  washington           webmd  354
9           1         t      forbes          forbes   82
10          1         t      forbes      mayoclinic  218
11          1         t      forbes           webmd  349
12          1         t         nyt      mayoclinic  237
13          1         t         nyt         nytimes  116
14          1         t         nyt           webmd  298
15          1         t  washington      mayoclinic  309
16          1         t  washington  washingtonpost   96
17          1         t  washington           webmd  325
18          2         c      forbes          forbes   82
19          2         c      forbes      mayoclinic  114
20          2         c      forbes           webmd  301
21          2         c         nyt      mayoclinic   92
22          2         c         nyt         nytimes  104
23          2         c         nyt           webmd  433
24          2         c  washington      mayoclinic  150
25          2         c  washington  washingtonpost   88
26          2         c  washington           webmd  155
27          2         t      forbes          forbes   85
28          2         t      forbes      mayoclinic  228
29          2         t      forbes           webmd  339
..        ...       ...         ...             ...  ...
78          5         c  washington      mayoclinic   93
79          5         c  washington  washingtonpost   47
80          5         c  washington           webmd  520
81          5         t      forbes          forbes  101
82          5         t      forbes      mayoclinic  252
83          5         t      forbes           webmd  372
84          5         t         nyt      mayoclinic  237
85          5         t         nyt         nytimes  109
86          5         t         nyt           webmd  437
87          5         t  washington      mayoclinic  199
88          5         t  washington  washingtonpost   48
89          5         t  washington           webmd  453
90          6         c      forbes          forbes   88
91          6         c      forbes      mayoclinic  112
92          6         c      forbes           webmd  547
93          6         c         nyt      mayoclinic  125
94          6         c         nyt         nytimes  106
95          6         c         nyt           webmd  401
96          6         c  washington      mayoclinic   99
97          6         c  washington  washingtonpost   39
98          6         c  washington           webmd  449
99          6         t      forbes          forbes   91
100         6         t      forbes      mayoclinic  279
101         6         t      forbes           webmd  342
102         6         t         nyt      mayoclinic  155
103         6         t         nyt         nytimes  107
104         6         t         nyt           webmd  377
105         6         t  washington      mayoclinic  159
106         6         t  washington  washingtonpost   40
107         6         t  washington           webmd  158

[108 rows x 5 columns]