In [2]:
import pandas as pd

In [3]:
cookies = pd.read_csv("distinct_cookies_update.csv")

In [4]:
cookies

,exp_type,exp_group,exp_index,visit_id,origin_site,host,name,value,is_third_party
0,nyt,c,1,1,webmd,webmd,__cfduid,dd673b2700baa134208e3794c02eec1f41606506583,False
1,nyt,c,1,1,webmd,webmd,lrt_wrk,lrt1_cached_k8_worker_1_37S_21O_2020-11-18_17:...,False
2,nyt,c,1,1,webmd,webmd,gtinfo,"{""ct"":""Columbus"",""c"":""Franklin"",""cc"":""39049"",""...",False
3,nyt,c,1,1,webmd,webmd,VisitorId,9831e05f-086b-4123-5987-f9b5df875967,False
4,nyt,c,1,1,webmd,webmd,__cfduid,dc560e081e9789ea111079dc63ad819771606506583,False
...,...,...,...,...,...,...,...,...,...
27114,washington,t,6,3,washingtonpost,washingtonpost,cto_pub_test_tld,test,False
27115,washington,t,6,3,washingtonpost,pubmatic,SPugT,1607812116,True
27116,washington,t,6,3,washingtonpost,washingtonpost,cto_bundle,vg6d5l9TUW9uR0hzNDlNNWcxU2klMkJGYktxdVRIQkhIb3...,False
27117,washington,t,6,3,washingtonpost,dnacdn,browser_data,zZo57F9TUW9uR0hzNDlNNWcxU2klMkJGYktxdWV1QUthV2...,True
27118,washington,t,6,3,washingtonpost,pubmatic,PMFREQ_ON,YES,True

In [5]:
cookies_groupby = cookies.groupby(['exp_type','exp_group', 'host']).size().reset_index(name='count')
cookies_groupby

       exp_type exp_group            host  count
0        forbes         c             1rx     24
1        forbes         c           3lift     14
2        forbes         c          aaxads      6
3        forbes         c  acuityplatform     23
4        forbes         c         addthis     29
..          ...       ...             ...    ...
725  washington         t         yieldmo     36
726  washington         t         youtube     12
727  washington         t         zemanta     12
728  washington         t         zendesk      1
729  washington         t          zeotap      3

[730 rows x 4 columns]

In [6]:
cookies_tp_groupby = cookies[cookies.is_third_party].groupby(['exp_type','exp_group', 'host']).size().reset_index(name='count')
cookies_tp_groupby

       exp_type exp_group            host  count
0        forbes         c             1rx     24
1        forbes         c           3lift     14
2        forbes         c          aaxads      6
3        forbes         c  acuityplatform     23
4        forbes         c         addthis     29
..          ...       ...             ...    ...
707  washington         t         yieldmo     36
708  washington         t         youtube     12
709  washington         t         zemanta     12
710  washington         t         zendesk      1
711  washington         t          zeotap      3

[712 rows x 4 columns]

In [55]:
big_table = []
for i in ["nyt", "forbes", "washington"]:
    a = cookies_tp_groupby[(cookies_tp_groupby.exp_group == "c") & (cookies_tp_groupby.exp_type == i) ].sort_values('count',ascending = False)
    b = cookies_tp_groupby[(cookies_tp_groupby.exp_group == "t") & (cookies_tp_groupby.exp_type == i) ].sort_values('count',ascending = False)
    
    c = pd.merge(a, b, on='host')[['exp_type_x','host','count_x', 'count_y']]
    
    c['diff'] = c.count_y - c.count_x
    
    big_table.append(c.sort_values('diff',ascending = False).head(5))

result = pd.concat(big_table)
result

    exp_type_x            host  count_x  count_y  diff
1          nyt  rubiconproject      179      422   243
4          nyt     casalemedia      111      334   223
0          nyt        pubmatic      213      388   175
38         nyt        mfadsrvr       13       44    31
17         nyt          demdex       35       64    29
1       forbes  rubiconproject      198      413   215
5       forbes     casalemedia      105      287   182
0       forbes        pubmatic      435      571   136
4       forbes           yahoo      113      151    38
3       forbes          adsrvr      124      156    32
1   washington  rubiconproject      193      440   247
2   washington     casalemedia      132      307   175
0   washington        pubmatic      197      349   152
4   washington          adsrvr       81      119    38
7   washington           media       57       88    31

In [49]:
# fig, axes = plt.subplots(nrows=1, ncols=2, figsize=(12,4),gridspec_kw={'hspace': 1.0}, sharey = True)

# cookies_1 = cookies.groupby(['exp_group', 'host']).size().reset_index(name='count')

# haha = (cookies_1[(cookies_1.exp_group == "c") ],
#         cookies_1[(cookies_1.exp_group == "t") ])

# for i,x in enumerate(haha):
#     x.sort_values('count',ascending = False).head(15)\
#         .plot( x='host', y='count', legend=None, ax=axes[i], kind="bar", color='#86bf91')
    
#     for tick in range(0,3000,500):
#         axes[i].axhline(y=tick, linestyle='dashed', alpha=0.4, color='#eeeeee', zorder=0)
    
#     axes[i].tick_params(bottom=False, top=False, left=False, right=False, labelbottom="on", labelleft="on")
#     axes[i].spines['right'].set_visible(False)
#     axes[i].spines['top'].set_visible(False)
#     axes[i].spines['left'].set_visible(False)

#     if i == 0:
#         axes[i].set_ylabel("Number of distinct cookies", labelpad=50, weight='bold', size=12)
#         axes[i].set_title("Control")
#         axes[i].set_xlabel("\t\t\t\t\t\t\t\t\t\t\t Hosts".expandtabs(), labelpad=20, weight='bold', size=12)

#     if i == 1:
#         axes[i].xaxis.label.set_visible(False)
#         axes[i].set_title("Treatment")

# plt.savefig('distinct.png',bbox_inches='tight', dpi=300)

In [50]:
cookies_groupby_2 = cookies[cookies.is_third_party].groupby(['exp_group', 'host', ]).size().reset_index(name='count')
a = cookies_groupby_2[(cookies_groupby_2.exp_group == "c")].sort_values('count',ascending = False)
b = cookies_groupby_2[(cookies_groupby_2.exp_group == "t")].sort_values('count',ascending = False)
c = pd.merge(a, b, on='host')[['host', 'exp_group_x','count_x','exp_group_y', 'count_y']]
c['diff'] = c.count_y - c.count_x
c['percentage_diff'] = (c.count_y - c.count_x)/c.count_x

# c.sort_values('diff',ascending = False).head(20)
c.sort_values('percentage_diff',ascending = False).head(20)

                  host  count_x  count_y  diff  percentage_diff
124              eqads        1       13    12        12.000000
105            trendmd        5       46    41         8.200000
119            caramel        2       18    16         8.000000
115              knsso        2       18    16         8.000000
109   creative-serving        4       29    25         6.250000
108       cognitivlabs        4       25    21         5.250000
111             swpsvc        3       18    15         5.000000
103            adotmob        6       34    28         4.666667
92             mxptint        7       37    30         4.285714
120             emerse        1        5     4         4.000000
114       advangelists        3       15    12         4.000000
112             dyntrk        3       13    10         3.333333
121             smadex        1        4     3         3.000000
122            mrtnsvr        1        4     3         3.000000
77                lkqd       16       56    40         2.500000
90         ipredictive        8       27    19         2.375000
60          quantserve       28       93    65         2.321429
86   sportradarserving       11       36    25         2.272727
57                w55c       30       98    68         2.266667
94           eyereturn        7       21    14         2.000000

In [300]:
# fig, axes = plt.subplots(nrows=1, ncols=2, figsize=(12,4),gridspec_kw={'hspace': 1.0}, sharey = True)

# cookies_1 = cookies[cookies.is_third_party].groupby(['exp_group', 'host']).size().reset_index(name='count')
# # cookies_1 = cookies.groupby(['exp_group', 'host']).size().reset_index(name='count')

# haha = (cookies_1[(cookies_1.exp_group == "c") ],
#         cookies_1[(cookies_1.exp_group == "t") ])

# for i,x in enumerate(haha):
#     x.sort_values('count',ascending = False).head(15)\
#         .plot( x='host', y='count', legend=None, ax=axes[i], kind="bar", color='#86bf91')
    
#     for tick in range(0,1600,200):
#         axes[i].axhline(y=tick, linestyle='dashed', alpha=0.4, color='#eeeeee', zorder=0)
    
#     axes[i].tick_params(bottom=False, top=False, left=False, right=False, labelbottom="on", labelleft="on")
#     axes[i].spines['right'].set_visible(False)
#     axes[i].spines['top'].set_visible(False)
#     axes[i].spines['left'].set_visible(False)

#     if i == 0:
#         axes[i].set_ylabel("Number of distinct cookies", labelpad=50, weight='bold', size=12)
#         axes[i].set_title("Control")
#         axes[i].set_xlabel("\t\t\t\t\t\t\t\t\t\t\t Hosts".expandtabs(), labelpad=20, weight='bold', size=12)
        
#     if i == 1:
#         axes[i].xaxis.label.set_visible(False)
#         axes[i].set_title("Treatment")
    
# plt.savefig('distinct-tp.png',bbox_inches='tight', dpi=300)

In [233]:
# cookies_count[(cookies_count.exp_group == "c") & (cookies_count.exp_type == "nyt")]\
#     .sort_values('count',ascending = False)\
#     .head(10).plot.bar( x='host', y='count', legend=None)